build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
.*.swo
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
/util/packet_pb2.py
/util/tap/*.d
/util/tap/*.o
/util/tap/m5tap
/util/term/m5term
/system/arm/dt/*.dtb
/system/arm/simple_bootloader/*.o
/system/arm/simple_bootloader/boot.arm
/system/arm/simple_bootloader/boot_emm.arm
/system/arm/aarch64_bootloader/boot_emm.arm64
backup/
full-system
gem5_accel/
get_upstream.sh
iot-locus
learning_gem5/
output/
parsec3.0
patches/
run_gem5_fs_arm.tcl
run_gem5_se_arm.tcl
run_scripts
se-benchmarks
security
spec2006
splash2
splash3
switch_gcc
temp/
trash/
util/aarch64_m5/
util/alpha_m5/
util/arm_m5/
util/inst_dep_record_pb2.py
util/inst_pb2.py
util/m5_aarch64
util/m5_arm
util/m5_riscv
util/m5_x86
util/orig_m5/
util/riscv_m5/
util/sparc_m5/
util/x86_m5/
virtualbox_vdi

